@import '~lib/styles/modules';

.items {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid $oc-gray-1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $oc-gray-5;
  cursor: pointer;
  .update {
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.2rem;
    }
  }
  .remove {
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.2rem;
    }
  }
  .share {
    &:hover {
      color: $oc-teal-6;
    }
  }
  .like {
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.2rem;
    }
    .active {
      color: $oc-teal-6;
      &:hover {
        color: $oc-teal-7;
      }
      &:active {
        color: $oc-teal-8;
      }
    }
    .inactive {
      &:hover {
        color: $oc-gray-6;
      }
      &:active {
        color: $oc-teal-6;
      }
    }
  }
  .comments {
    display: flex;
    align-items: center;
    svg {
      margin-right: 0.2rem;
    }
    &:hover {
      color: $oc-teal-6;
    }
  }
}