@import '~lib/styles/shadow';
@import '~lib/styles/modules';

@mixin input {
  width: 120px;
  height: 120px;
  border: 1px solid $oc-teal-6;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  color: $oc-gray-8;
}

@mixin column {
  display: flex;
  input {
    @include input
  }
}

@mixin row {
  background: white;
  div {
    @include column
  }
}

.new-post {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  .table {
    @include row;
    @include shadow(1);
  }
}

.post-container {
  width: 400px;
  margin-right: 6rem;
}