@import '~lib/styles/shadow';
@import '~lib/styles/modules';

@mixin input {
  width: 120px;
  height: 120px;
  border: 1px solid $oc-teal-6;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  color: $oc-gray-8;
}

@mixin column {
  display: flex;
  input {
    @include input
  }
}

@mixin row {
  background: white;
  div {
    @include column
  }
}

.table {
  @include row;
  @include shadow(2);
}